* {
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
}
.header {
  margin-top: 100px;
}
h2 {
  text-align: center;
}
#lists {
  margin-top: 50px;
  float: left;
}
ul {
  margin-top: 10px;
}
ul.button {
  margin-left: 20px;
}
button {
  border-radius: 5px;
  margin-left: 10px;
  padding: 5px;
}
button:hover {
  background-color: #d4adfc;
}

.parent {
  background-color: #d4adfc;
  text-align: center;
  width: 30vw;
  min-height: 10vh;
  border-radius: 10px;
  margin: 50px auto;
  height: 500px;
}

#myInput {
  border-radius: 5px;
  width: 75%;
  padding: 10px;
  font-size: 16px;
}
.addBtn {
  padding: 10px;
  background: white;
  color: #555;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 5px;
}

@media (max-width: 800px) {
  .parent {
    width: 90%;
  }
}
